<div class="todo" [class.done]="toDo$.status">
  <div class="todo-content">
    <div class="handle">
      <!-- <img src="../../../../assets/images/drag.png"> -->
    </div>
    <div class="todo-content-check">
      <img *ngIf="!toDo$.status" (click)="changeCheck($event)" src="../../../../assets/images/checkbox-empty.png"/>
      <img *ngIf="toDo$.status" (click)="changeCheck($event)"  src="../../../../assets/images/checkbox-done.png" />
    </div>
    <div class="todo-content-title">
      <input type="text" 
        (blur)="changeLabel($event)"
        [(ngModel)]="toDo$.label"
        placeholder="Name of ToDo" />
    </div>
    {{ toDo$.label }}
  </div>
  <div class="delete" (click)="deleteTodo($event)">
      <span>Done</span>
  </div>
</div>
